*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*


# Log files
/frontend/logs
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# Build directories
/frontend/build/Release

# Dependencies
/frontend/node_modules/
/frontend/jspm_packages/

# Distribution and typings directories
/frontend/dist/
/frontend/typings/

# Various config files
/frontend/.npm
/frontend/.eslintcache
/frontend/.node_repl_history
/frontend/*.tgz
/frontend/.yarn-integrity
